/* General Styles */
body,
html {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background-color: #fdfdfd;
    color: ##262626;
    overflow-x: hidden;
}

/* Container */
.container {
    display: flex;
    min-height: 100vh;
}

/* Sidebar Styling */
.sidebar {
    width: 250px;
    background-color: #f9f9f9;
    box-shadow: 2px 0 5px rgba(231, 231, 231, 255);
    padding: 20px;
    height: 100vh;
    position: fixed; /* To make side bar fix */
    top: 0;
    overflow-y: auto;  /* Enable scrolling if content overflows the sidebar */
}

.sidebar h2 {
    margin-bottom: 20px;
    color: #FE2C55;
    font-size: 1.5em;
    font-weight: 500;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    padding: 10px 15px;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Content Area */
.content {
    flex: 1;
    padding: 20px;
     margin-left: 300px; /* Add left margin to prevent content from overlapping sidebar */
}

/* Carousel Styling */
.carousel-container {
    padding: 20px;
}

.carousel-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Card Styling */
.carousel-item {
    width: 220px;
    margin: 15px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Softer, diffused */
    padding: 15px;
    text-align: left;
    flex-shrink: 0;
    transform: scale(1);
    transition: transform 0.2s ease-in-out; /* Subtle, smooth */
    cursor: pointer;  /* Hand pointer */
}

/* Hover and Transition */
.carousel-item:hover {
    transform: scale(1.02); /* More subtle scaling */
}

.carousel-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    margin-bottom: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.carousel-item img.loaded {
    opacity: 1;
}

.carousel-item h3 {
    font-size: 21px;
    font-weight: bold; /* Bolding */
    color: #000000;
}

.album-artist-name {
    font-size: 16px;
    color: #8e8e93; /* Dark Gray (Subtle UI elements) */
    margin-bottom: 5px;
    font-weight: 500;

}

.album-release-date {
    font-size: 14px; /* Subheader size */
    color: #8e8e93;
    margin-top: 5px;
}

/* Submenu Styling */
.submenu {
    display: none;
    padding-left: 20px;
    margin-top: 5px;
    border-left: 1px solid #ddd;
}

.submenu li {
    padding: 8px 15px;
    margin-bottom: 3px;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.submenu li:hover {
    background-color: #f9f9f9;
    color: #2196f3;
}

.toggle-submenu {
    display: block;
}

/* Active Link Styling */
.sidebar ul li.active,
.sidebar ul li:hover {
    background-color: #CCCCCC;
    background-color: #FE2C55;
    color: #f5f5f7;
    font-weight: 500;
    transform: translateX(2px);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Hidden Content Styling */
.hidden-content {
    display: none;
}

.sidebar::-webkit-scrollbar {
    width: 6px; /* Width of the scrollbar */
}

.sidebar::-webkit-scrollbar-track {
    background: #f1f1f1; /* Track color */
}

.sidebar::-webkit-scrollbar-thumb {
    background: #ccc; /* Thumb color */
    border-radius: 4px; /* Rounded corners */
}

.sidebar::-webkit-scrollbar-thumb:hover {
    background: #999; /* Hover color */
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: auto;
        position: static;
        padding: 10px;
    }

    .sidebar ul li {
    padding: 10px 15px;
    margin-bottom: 5px;
    cursor: pointer;  /* Hand pointer */
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
		}

    .content {
        padding: 10px;
    }
}